<h1>Controlador1#Vista1</h1>
<p>Find me in app/views/controlador1/Vista1.html.erb</p>
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

